html{



 font-size: 8px; 

}


.container{
  
  width:100rem;
  height:90rem;

  background-color: #ea83f7;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:2rem;
  row-gap:1rem;
  grid-auto-rows:minmax(1fr,auto);
  overflow:hidden;

}


.item {

  /* background-color:#fe7890; */
  background-color: yellow;
}
