@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/**/
/*@font-face{*/
/*  font-family: "Bebas Neue", sans-serif;*/
/*  src:url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap') format('otf'); */
/*}*/
/**/

html{


font-size:8px;

}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
}

